/* basic */
* {
	vertical-align: baseline; 
	font-size: 100%; 
	border: 0 none;
	box-sizing: border-box; 
	outline: 0; 
	padding: 0; 
	margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', Tahoma, sans-serif;
    background: url(../img/background/bg-ufa.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: green;
    text-decoration: none;    
}

a:hover {
    color: gold;
}

.container {
    max-width: 1100px;
    height: auto;
    margin: auto;
}

/* header */
.header {
    width: 100%;
    height: auto;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.6);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 150px;
}

.header-img {
    width: 112px;
    height: 113px;
}

.header-img img {
    width: 100%;
}

.header-title {
    font-size: 24px;
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    background: #1f1f1f;
    border-bottom: 3px solid green;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background: #1f1f1f;
    border-left: 1px solid gray;
    border-bottom: 3px solid green; 
}

.menu-item--active {
    background: #1f1f1f;
    border-bottom: 3px solid gold; 
}

.menu-item:hover {
    background: #1f1f1f;
    border-bottom: 3px solid gold; 
}

/* main */
.main {
    width: 100%;
    height: auto;
    flex: 1;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px 10px 20px 10px;
}

.content {
    width: 60%;
    height: auto;
}

.info-content {
    display: flex;
    flex-direction: column;
    
}

.info-content__item {
    width: 100%;
    padding: 5%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.info-content__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.info-content__text {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* navigation */
.navigation {
    width: 30%;
    height: auto;
}

/* list */

.list {
    width: 100%;
    margin-bottom: 30px;
}

.list-item {
    position: relative;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    background: rgba(0, 100, 0, 0.8);
    border-radius: 5px;
    cursor: pointer;
}

.list-item:hover {
    border: 2px solid gold;
}

.list-item__icon {
    position: absolute;
    top: 10px;
    right: 15px;
    transform: none;
    transition: 1s;
}

.list-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    padding: 0 5px;
    margin: -10px 0 10px 0;
    background: rgba(255, 255, 255, 0.8);
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 1s; 
}

.list-content__item {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: blue;
}

.list-content__item:hover {
    color: #006400;
}

/* banner */
.navigation-banner {
    width: 100%;
    height: auto;
    padding: 5%;
    background: rgba(0, 100, 0, 0.8);
    border-radius: 10px;
}

.navigation-banner__item {
    font-size: 20px;
    font-weight: 700;
    color: gold;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background: #1f1f1f;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: #1f1f1f;
    border-top: 3px solid #006400;
    border-bottom: 3px solid #006400; 
}

.footer-menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    min-height: 49px;
}

.footer__logo {
    width: 70px;
    height: 70px;
    margin-right: 10%;
}

.footer__logo img {
    width: 100%;
}

.footer__title {
    margin-right: 10%;
    font-size: 20px;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    color: #ffffff;
}

.footer-contacts__item {
    font-size: 16px;
    font-weight: 400;
}

/* Media */
@media(max-width: 600px) {
    .menu > a {
        width: 25%;
    }

    .menu-item {
        width: 100%;
    }

    .main-wrapper {
        flex-direction: column;
    }

    .content {
        width: 100%;
        margin-bottom: 20px;
    }

    .navigation {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer__logo {
        display: none;
    }

    .footer__title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-contacts {
        width: 100%;
        align-items: center;
    }

    .footer-menu {
        display: none;
    }
}

@media(max-width: 425px) {
    .header-title {
        font-size: 18px;
    }

    .menu-box {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 40px;
        background: #1f1f1f;
        border-bottom: 3px solid #006400
    }

    .menu-btn {
        position: absolute;
        top: 50%; margin-top: -1px;
        width: 30px;
        height: 2px;
        margin-left: 20px;
        background: #006400;
    }

    .menu-btn::before {
        content: "";
        position: absolute;
        top: 50%; margin-top: -1px;
        width: 30px;
        height: 2px;
        background: #006400;
        transform: translateY(-8px);
    }

    .menu-btn::after {
        content: "";
        position: absolute;
        top: 50%; margin-top: -1px;
        width: 30px;
        height: 2px;
        background: #006400;
        transform: translateY(8px);
    }

    .menu-btn--active {
        background: #1f1f1f;
    }

    .menu-btn--active:before {
        transform: rotate(-45deg);
    }

    
    .menu-btn--active:after {
        transform: rotate(45deg);
    }

    .menu {
        position: absolute;
        top: 40px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        background: #1f1f1f;
        border: none;
    }

    .menu > a {
        width: 100%;
    }
    
    .menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        background: #1f1f1f;
        border: none;
    }
    
    .menu-item--active {
        background: #1f1f1f;
        border-bottom: 3px solid gold; 
    }
    
    .menu-item:hover {
        background: #1f1f1f;
        border-bottom: 3px solid gold; 
    }

    .footer__title {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .footer-contacts__item {
        font-size: 12px;
    }
}